{% extends 'base.html.twig' %}

{% block title %}Smile - Accueil{% endblock %}

{% block body %}
<main class="home">
    <div class="ocean"></div>
    <div class="boat">
        <div class="boat-bottom">
            <div class="squares">
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
            </div>
        </div>
        <div class="boat-behind"></div>
        <div class="boat-top-left"></div>
        <div class="boat-top-right"></div>
    </div>
    <div class="sky"></div>
    <img src="/images/cloud.png" alt="cloud" class="cloud1">
    <img src="/images/cloud.png" alt="cloud" class="cloud2">
    <img src="/images/cloud.png" alt="cloud" class="cloud3">
    <img src="/images/palm.png" alt="palm" class="palm">
</main>
{% endblock %}
