{% extends 'base.html.twig' %}

{% block title %}Smile - Accueil{% endblock %}
        {% block stylesheets %}
            {{ parent() }}
        {% endblock %}
{% block body %}
        <a href="{{ path('app_login') }}" class="login btn">Connexion</a>
        <a href="{{ path('app_register') }}" class="signup btn btn-primary">S'inscrire</a>
{% endblock %}
