$font-title: 'Bubblegum Sans', cursive;
$font-text: 'Quicksand', sans-serif;

$font-size-sm: calc(16px + 6 * ((100vw - 320px) / 680));
$font-size-sub-title-sm: calc(24px + 6 * ((100vw - 320px) / 680));
$font-size-title-sm: calc(48px + 6 * ((100vw - 320px) / 680));
$font-size: 22px;
$font-size-sub-title: 36px;
$font-size-title: 48px;

$spacing: 16px;
$spacing-xs: $spacing / 4;
$spacing-s: $spacing / 2;
$spacing-l: $spacing * 2;
$spacing-xl: $spacing * 4;

$primary: #07A476;
$primary-shadow: #026056;
$secondary: #F9A948;
$secondary-shadow: #F28F48;
$success: #89cd65;
$danger: #cd6965;
$warning: #cd9e65;
$info: #28BCAA;
$light: #e5fff7;
$dark: #023123;
$body: #011c14;
$muted: #a4bdb5;
$white: #e5fff7;
$black-50: rgba(1, 28, 20, 0.5);
$white-50: rgba(229, 255, 247, 0.50);

$theme-colors: (
        "primary": $primary,
        "primary-shadow": $primary-shadow,
        "secondary": $secondary,
        "secondary-shadow": $secondary-shadow,
        "success": $success,
        "danger": $danger,
        "warning": $warning,
        "info": $info,
        "light": $light,
        "dark": $dark,
        "body": $body,
        "muted": $muted,
        "white": $white,
        "black-50": $black-50,
        "white-50": $white-50,
);