@import "vars";
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Quicksand:wght@400;600;700&display=swap');
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/v4-shims";

body {
    width: 100vw;
    height: 90vh;
    background-color: $secondary-shadow;
    font-family: $font-text;
    font-size: $font-size-sm;
}

.return{
    position: absolute;
    z-index: 9;
    top: $spacing;
    a {
        outline: none;
    }
}

.module{
    border-radius: $spacing;
    padding: $spacing;
    margin: auto;
}

h1, h2, h3, h4, h5, h6{
    font-family: $font-title;
    font-size: $font-size-title-sm;
    text-align: center;
    position: relative;
    z-index: 7;
}

.form-control{
    border-radius: $spacing;
    font-family: $font-text;
    font-size: $font-size-sm;
    font-weight: 400;
}

form label{
    font-weight: 600;
}

.btn{
    border-radius: $spacing;
    font-family: $font-text;
    font-size: $font-size-sm;
}

@media screen and (min-width: 1000px) {
    body {
        width: 100vw;
        height: 90vh;
        background-color: $secondary-shadow;
        font-family: $font-text;
        font-size: $font-size;
    }

    .module{
        max-width: 30vw;
        border-radius: $spacing;
        padding: $spacing;
        margin: auto;
        position: relative;
        z-index: 7;
    }

    h1, h2, h3, h4, h5, h6{
        font-family: $font-title;
        font-size: $font-size-title;
        text-align: center;
    }

    .form-control{
        border-radius: $spacing;
        font-family: $font-text;
        font-size: $font-size;
        font-weight: 400;
    }

    form label{
        font-weight: 600;
    }

    .btn{
        border-radius: $spacing;
        font-family: $font-text;
        font-size: $font-size;
    }

    .card-body{
        width: 12rem;
    }
}