@import "vars";
@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Quicksand:wght@400;600;700&display=swap');
@media screen and (min-width: 320px) {
    body {
        width: 100vw;
        height: 90vh;
        background-color: $secondary-shadow;
        font-family: $font-text;
        font-size: $font-size-sm;
    }

    .module{
        border-radius: $spacing;
        background-color: $white-50;
        padding: $spacing-xl;
        margin: auto;
    }

    h1, h2, h3, h4, h5, h6{
        font-family: $font-title;
        font-size: $font-size-title-sm;
        text-align: center;
    }

    .form-control{
        border-radius: $spacing;
        font-family: $font-text;
        font-size: $font-size-sm;
        font-weight: 400;
    }

    form label{
        font-weight: 600;
    }

    input[type="checkbox"]{
        outline: none;
        /* Double-sized Checkboxes */
        -ms-transform: scale(2); /* IE */
        -moz-transform: scale(2); /* FF */
        -webkit-transform: scale(2); /* Safari and Chrome */
        -o-transform: scale(2); /* Opera */
    }

    .btn{
        border-radius: $spacing;
        font-family: $font-text;
        font-size: $font-size-sm;
    }
}
@media screen and (min-width: 1000px) {
    body {
        width: 100vw;
        height: 90vh;
        background-color: $secondary-shadow;
        font-family: $font-text;
        font-size: $font-size;
    }

    .module{
        max-width: 30vw;
        border-radius: $spacing;
        background-color: $white-50;
        padding: $spacing;
        margin: auto;
    }

    h1, h2, h3, h4, h5, h6{
        font-family: $font-title;
        font-size: $font-size-title;
        text-align: center;
    }

    .form-control{
        border-radius: $spacing;
        font-family: $font-text;
        font-size: $font-size;
        font-weight: 400;
    }

    form label{
        font-weight: 600;
    }

    input[type="checkbox"]{
        outline: none;
        /* Double-sized Checkboxes */
        -ms-transform: scale(1); /* IE */
        -moz-transform: scale(1); /* FF */
        -webkit-transform: scale(1); /* Safari and Chrome */
        -o-transform: scale(1); /* Opera */
    }

    .btn{
        border-radius: $spacing;
        font-family: $font-text;
        font-size: $font-size;
    }
}
