body{
  overflow-y: auto;

main {
  margin: auto;
  position: relative;
  z-index: 7;
}

.module {
  background-color: var(--light);
}


.card-body{
  width: 12rem;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

}
.module {
     position: relative;
     z-index: 9;
   }

.goal {
  color: var(--light);
}

.Quotidien{
  background-color: #00cdff;
}

.Cuisine{
  background-color: #d78262;
}

.Sociale{
  background-color: #96d4c0;
}

.Sport{
  background-color: #cb8b61;
}

.Musique{
  background-color: #c591cb;
}

.Video{
  background-color: #d9d9a9;
}

.Web{
  background-color: #96a0d4;
}

.Science{
  background-color: #4cd5c5;
}