@import "vars";

body {
    overflow-y: auto;
}
main {
    margin: auto;
    position: relative;
    z-index: 7;
}

.module {
    background-color: var(--light);
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.goalNow{
    position: relative;
    border-radius: $spacing;
    padding: 0 20px 0 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    .left{
        position: absolute;
        left: 0;
        align-self: center;
        margin-left: 10px;
    }
    .middle{
        align-self: center;
        width: 90%;
        line-height: 1.2;
        margin: 0 auto 0 auto;
    }
    p{
        margin: 5px;
    }
    .right{
        position: absolute;
        right: 0;
        align-self: center;
        margin-right: 10px;
    }
}

.card-body{
    width: 12rem;
}

.card-subtitle{
    text-decoration: none;
    width: 95%;
    padding-right: 5px;
    padding-left: 5px;
    margin: auto;
    color: $dark;
    background-color: $light;
    border-radius: $spacing;
    &:hover {
        text-decoration: none;
        color: $dark;
    }
}

.Quotidien{
    background-color: #656f68;
    color: var(--light);
}

.Cuisine{
    background-color: #d78262;
}

.Vie{
    background-color: #96d4c0;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}
main{
    h2{
        color: $light;
    }
}
.module {
    position: relative;
    z-index: 9;
    h3{
        font-size: 32px;
    }
    a{
        margin: 3px;
        display: flex;
        flex-direction: column;
        font-size: 12px;
        font-weight: bold;
    }
}
.goalShow{
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}