@import "vars";

.interests{
    position: relative;
    z-index: 7;
    background-color: $light;
    border-radius: $spacing;
    width: 90%;
    margin: auto;
    top: $spacing;
    padding-bottom: $spacing;
    padding-top: $spacing;

    h2{
        font-size: 1.7em;

        &:nth-of-type(2){
            margin-top: $spacing;
        }
    }

    .interest{
        background-color: $primary;
        border-radius: $spacing-xs;
        margin: $spacing-s;
        padding: $spacing-s;

        i{
            margin: 0 $spacing-s 0 $spacing-s;
            color: $dark;
        }

        p{
            margin: 0;
        }
    }

    .back{
        margin-top: $spacing-l;
    }
}