@import "vars";

.exp{
    position: relative;
    z-index: 7;
    padding-bottom: $spacing;
    background-color: $light;
    border-radius: $spacing;
    width: 90%;
}

.experiences h2{
    font-size: $font-size-sm;
    text-align: left;
    padding-top: $spacing;
}

.progress{
    position: relative;
    height: $spacing;
    width: 100%;
    border-radius: $spacing;
    box-shadow:  -4px -4px 14px #b7ccc6,
    4px 4px 14px #ffffff;
    p {
        position: absolute;
        width: 100%;
        text-align: center;
        background-color: transparent;
        padding-top: $spacing-s;
        font-weight: 800;
        color: $dark;
    }
}

.main-page{
    position: relative;
    z-index: 7;
    border-radius: $spacing;
    background-color: $light;
    padding: $spacing;
    width: 90%;
    margin: $spacing auto auto;

    .infos{
        word-break: break-word;
        font-size: 24px;
        position: relative;


        .neu-avatar-box{
            border-radius: 50%;
            background: linear-gradient(45deg, #cee6de, #f5ffff);
            box-shadow:  7px -7px 14px #c3d9d2,
            -7px 7px 14px #ffffff;
            width: 120px;
            height: 120px;
            margin-top: $spacing;
            padding: 10px;
            .avatar{
                width: 100px;
                height: 100px;
                object-fit: cover;
            }
        }

        .level-box{
            padding: $spacing-s;
            line-height: 0.75em;
            font-size: 0.75em;
            .small{
                font-size: 0.75em;
            }
        }

        h2{
            margin-top: $spacing;
            font-size: 32px;
        }

        .info-email{
            font-size: 0.75em;
        }

        .edit{
            position: absolute;
            top: $spacing-s;
            left: $spacing-s;
        }

        .logout{
            position: absolute;
            top: $spacing-s;
            right: $spacing-s;
        }
    }
}