@import "vars";

.exp{
    position: relative;
    z-index: 7;
    padding-bottom: $spacing;
    background-color: $light;
    border-radius: $spacing;
    width: 90%;
    margin-top: $spacing-l;
}
.experiences{
    padding-top: $spacing;
}
a:hover{
    outline: none;
    text-decoration: none;
}
div.experiences{
    outline: none;
    text-decoration: none;
    color: $dark;
    :hover, :active{
        text-decoration: none;
        color: $dark;
    }
}
.experiences p.percent{
    margin-top: 0;
}
.progress-bar-animated{
    animation-direction: reverse;
}
.experiences h2{
    font-size: 32px;
}
.experiences p{
    margin-top: $spacing-s;
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
}
.expList{
    position: relative;
    z-index: 9;
    h1{
        color: $light;
    }
    .module{
        background-color: $light;
    }
}

.progress{
    position: relative;
    height: $spacing;
    width: 100%;
    border-radius: $spacing;
    box-shadow:  -4px -4px 14px #b7ccc6,
    4px 4px 14px #ffffff;
    p {
        position: absolute;
        width: 100%;
        text-align: center;
        background-color: transparent;
        padding-top: $spacing-s;
        font-weight: 800;
        color: $dark;
    }
}

.main-page{
    position: relative;
    top: $spacing;
    z-index: 7;
    border-radius: $spacing;
    background-color: $light;
    padding: $spacing;
    width: 90%;


    .infos{
        word-break: break-word;
        font-size: 24px;
        position: relative;

        .neu-avatar-box{
            border-radius: 50%;
            background: linear-gradient(45deg, #cee6de, #f5ffff);
            box-shadow:  7px -7px 14px #c3d9d2,
            -7px 7px 14px #ffffff;
            width: 120px;
            height: 120px;
            margin-top: $spacing;
            padding: 10px;
            .avatar{
                width: 100px;
                height: 100px;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        .level-box{
            padding: $spacing-s;
            line-height: 0.75em;
            font-size: 0.75em;
            .small{
                font-size: 0.75em;
            }
        }

        h2{
            margin-bottom: 0;
            font-size: 32px;
        }

        .info-email{
            font-size: 0.75em;
        }

        .edit{
            position: absolute;
            top: $spacing-s;
            left: $spacing-s;
        }

        .logout{
            position: absolute;
            top: $spacing-s;
            right: $spacing-s;
        }
    }
}

.goals{
    position: relative;
    z-index: 7;
    border-radius: $spacing;
    background-color: $light;
    padding: $spacing;
    width: 90%;
    margin-top: $spacing;

    h2{
        font-size: 32px;
    }

    a{
        margin-top: $spacing;
    }
  
    .no-goal{
        margin-top: $spacing;
        margin-bottom: $spacing * 1.5;
    }
}

.moodTest{
    position: absolute;
    z-index: 8;
    border-radius: $spacing;
    background-color: $light;
    padding: $spacing;
    width: 90%;
    margin: $spacing auto auto;
    top:$spacing;
    left: $spacing;

    textarea{
        width: 100%;
        height: 15vh;
        resize: none;
    }

    button{
        margin: $spacing-xs;
    }

    .text-muted{
        font-size: 14px;
    }
}

.listPsycho{
    display: none;
    position: absolute;
    z-index: 8;
    border-radius: $spacing;
    background-color: $light;
    padding: $spacing;
    width: 90%;
    margin: $spacing auto auto;
    top:$spacing;
    left: $spacing;

    button{
        margin: $spacing-xs;
    }

    a{
        border-radius: $spacing;
        font-family: $font-text;
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
        margin: $spacing-xs;
        color: white;
    }
}

.bgMood{
    position: absolute;
    top:0;
    left:0;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    z-index: 7;
}