{% extends 'base.html.twig' %}

{% block title %}New Goal{% endblock %}
        {% block stylesheets %}
            {{ parent() }}
            {{ encore_entry_link_tags('goal') }}
        {% endblock %}
{% block body %}
    <section class="container">
        <div class="module">

        <h1>Create new Goal</h1>

        {{ include('goal/_form.html.twig') }}

        <a href="{{ path('goal_index') }}">back to list</a>
        </div>
    </section>
{% endblock %}
